.experience-card-container {
    display: flex;
    flex-direction: row;
    padding: 8px;
    gap: 16px;
    max-width: 600px;
    transition: background-color 0.3s;
    border-radius: 8px;
    
    &:hover {
        background-color: rgba(255, 255, 255, 0.05);
    }

    .start-and-date {
        h3 {
            white-space: nowrap;
            font-size: .75rem;
            line-height: 1.5rem;
            text-transform: uppercase;
            color: var(--titleTextColor);
        }
    }

    .experience-synopsis {
        display: flex;
        flex-direction: column;
        gap: 16px;
        
        h3 {
            color: var(--secondaryTextColor);
        }

        p {
            font-size: 14px;
            font-weight: normal;
            
        }

        .skill-tags {
            display: flex;
            flex-direction: row;
            gap: 4px;
        }
    }
}