@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  --mainBackgroundColor: #001C30;
  --mainColor-light: #004D70;
  --secondaryBackgroundColor: #CACACA;
  --mainTextColor: #FFFFFF;
  --secondaryTextColor: #DAFFFB;
  --focusMainTextColor: #00BBC9;
}

header {
	display: flex;
	align-items: center;
	justify-content: right;
	height: 8vh;
	padding: 0 2rem;
  background-color: var(--mainBackgroundColor);
	color: var(--mainTextColor);
}

.body-container {
  background-color: var(--mainBackgroundColor);
	color: var(--mainTextColor);
  height: 92vh;
  width: 100%;
}
