@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  --mainBackgroundColor: #001C30;
  --mainColor-light: #004D70;
  --secondaryBackgroundColor: #CACACA;
  --mainTextColor: #FFFFFF;
  --secondaryTextColor: #DAFFFB;
  --titleTextColor: #00AEFD;
  --focusMainTextColor: #00BBC9;
  --chipBackgroundColor: #176B87;
}

header {
	display: flex;
	align-items: center;
	justify-content: right;
	height: 8vh;
	padding: 0 2rem;
  background-color: var(--mainBackgroundColor);
	color: var(--mainTextColor);
}

body {
  background-color: var(--mainBackgroundColor);
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100vh; /* Al menos el alto de la ventana gráfica */
  display: flex;
  flex-direction: column;
  position: relative;

  .body-container {
    // background-color: var(--mainBackgroundColor);
    color: var(--mainTextColor);
    // height: 84vh;
    width: 100%;
    padding: 0 16px;
    padding-bottom: 9vh;
    flex: 1;
    overflow-y: auto;
  }
}


