@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  background-color: var(--mainColor);
	color: var(--mainTextColor);
}

:root {
  --mainColor: #002333;
  --mainColor-light: #004D70;
  --secondaryColor: #CACACA;
  --mainTextColor: #FFFFFF;
  --secondaryTextColor: #393939;
  --focusMainTextColor: #00BBC9;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	background-color: transparent;
	color: var(--mainTextColor);
}
